# CONFIG
/app/config/parameters.yml
/app/phpunit.xml

# GENERATED
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/web/bundles/
/web/app/dist

# VENDORS
/bin/
/build/
/composer.phar
/vendor/
node_modules

# KEEP
!.gitkeep
